.btn-delete {
  width: 40%;
  background: rgb(240, 75, 75);
  color: rgb(235, 166, 102);
}

.btn-save {
  width: 40%;
  background: rgb(82, 211, 65);
  color: rgb(58, 40, 24);
}

.card-todo {
  border: 2px solid rgb(25, 25, 143);
  border-radius: 5px;
  margin: 10px 0;
  background-color: rgb(229, 240, 84);
}

.card-todo:hover {
  box-shadow: 4px 5px 5px 5px rgba(33, 109, 231, 0.2);
}

.buttonOnchange {
  display: flex;
  justify-content: space-between;
}

.btn-edit {
  width: 50%;
  background: rgb(82, 211, 65);
  color: rgb(58, 40, 24);
}